<!--
  Flask Application for Scouting Technology Demo
  Overview Tab
  Stacy Irwin, 10 January 2022

  This file contains one of several HTML child templates for a simple
  Flask application that demonstrates the technologies and frameworks
  that we'll use in the IRS scouting system for 2022. This file is
  served by the Flask Python module contained in demo-app.py.

  The Flask server will insert the HTML in this file into the
  templates/index.html file. See templates.index.html for details.
-->


<!--
  Adding the "uk-card" and other classes turns plain HTML into
  a fancy card with a neat shawdow effect. See ???? for more
  information.
-->
<div class="uk-card uk-card-default uk-card-body uk-width-large">
  <h3 class="uk-card-title">Overview</h3>
  <p>
    This is a demonstration of several technologies that will be used in
    the Issaquah Robotics Society's scouting system for 2022.
  </p>
  <p>
    This webpage is a simple Flask application. Instructions for
    running this application and detailed code explanations are
    available in the source code files. Start by
    reading the comments in templates/index.html.
  </p>
  <p>
    There are several navigation tabs across the top of this page, with
    each tab linking to a different section. Each section describes a
    different technology that will be used in the scouting system.
  </p>
  <p>
    The source HTML for this tab is in the
    <em>templates/overview.html</em> file.
  </p>
</div>